.navbar {
    position: fixed;
    left: 50%;
    top: 2rem;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    width: 18rem;
    background-color: var(--clr-lightgrey50);
    border-radius: 4rem;
    padding: 0.25rem;
    backdrop-filter: blur(16px);
    z-index: 999;
}

.navbar__linkContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__link {
    text-align: center;
    flex: 1;
    padding: 0.5em 1em;

    border-radius: 4rem;
    position: relative;
}

.linkText {
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: var(--size-base);
    font-weight: 400;
    letter-spacing: -0.05em;
    transition: font-weight 200ms;
}

.navbar__link:hover .linkText {
    font-weight: 500;
}

.pill {
    position: absolute;
    inset: 0;
    background-color: var(--clr-white);
    border-radius: 2rem;
}