.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    min-height: 18rem;
    margin-top: 6rem;
}

.hero__heading {
    font-size: var(--size-4xl);
    text-align: center;
    font-weight: 600;
}

.hero__expertise {
    display: none;
}

.hero__span {
    font-size: var(--size-sm);
    font-weight: 500;
    letter-spacing: -0.05em;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .hero__expertise {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

/* md */
@media (min-width: 768px) {
    .hero__heading {
        max-width: 15ch;
        font-size: var(--size-5xl);
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero {
        margin-top: 12rem;
    }

    .hero__heading {
        font-size: var(--size-6xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero__heading {
        font-size: var(--size-7xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */