.profileHero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-2xl);
    margin-top: 6rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .profileHero {
        font-size: var(--size-4xl);
    }
}

/* lg */
@media (min-width: 1024px) {
    .profileHero {
        margin-top: 12rem;
        font-size: var(--size-5xl);
    }

}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */