.profileAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
}

.profileAbout__heading {
    font-size: var(--size-sm);
    font-weight: 500;
    letter-spacing: -0.05em;
}

.profileAbout__paragraph {
    font-size: var(--size-2xl);
    font-weight: 600;
    max-width: 25ch;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    .profileAbout__paragraph {
        font-size: var(--size-3xl);
    }

}

/* lg */
@media (min-width: 1024px) {

    .profileAbout__paragraph {
        max-width: 30ch;
        font-size: var(--size-4xl);
    }

}

/* xl */
@media (min-width: 1280px) {
    .profileAbout__paragraph {
        max-width: 28ch;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */